<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>666274065996-r8onfqlfavo0hdu7scpvlcs82g4nasd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666274065996-r8onfqlfavo0hdu7scpvlcs82g4nasd2</string>
	<key>API_KEY</key>
	<string>AIzaSyBHfICQ4l6jqW44SAeqj_9jPY6wcNIXCgo</string>
	<key>GCM_SENDER_ID</key>
	<string>666274065996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIT.Mock-G03-Cinema</string>
	<key>PROJECT_ID</key>
	<string>mock-project-g03-cinema</string>
	<key>STORAGE_BUCKET</key>
	<string>mock-project-g03-cinema.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:666274065996:ios:e652ce0ff63d0450</string>
	<key>DATABASE_URL</key>
	<string>https://mock-project-g03-cinema.firebaseio.com</string>
</dict>
</plist>